<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.12" package="com.CityCenter.Danthop" android:installLocation="auto" android:versionCode="12">
	<uses-sdk android:minSdkVersion="21" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="CityCenter" android:icon="@drawable/iconoappccr" android:hardwareAccelerated="true" android:largeHeap="true">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDwkOwy8PEkqlZzTqDmbi_SpI_bMY6tIe8" />
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.CityCenter.Danthop.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
		<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.CityCenter.Danthop" />
			</intent-filter>
		</receiver>
	</application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
</manifest>